.tooling-apps-cache/app/4.properties_files/4.properties_files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="4.properties_files_basics" doc:id="d586236d-b307-45ed-9240-56a046146783" >
		<http:listener doc:name="HTTP GET" doc:id="5fbf6bd3-d4ca-4dc0-bdd6-da6c7b680bbb" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="608b8539-65bf-476c-8791-e46204b48db8" message="${message}"/>
		<set-payload value="${message}" doc:name="Set Payload" doc:id="6785ccd4-d976-4532-be5e-6704f2ac6a4b" />
	</flow>
	<flow name="4.properties_files_dynamics" doc:id="186b518b-2bcf-4999-bf8e-c29465bcf3d5" >
		<http:listener doc:name="HTTP GET" doc:id="d29e70e3-fcc0-4d86-bb43-fe9892a8f0bd" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="1fe146cb-a886-4e9c-8e78-38cd1a580fa4" message='#[%dw 2.0&#10;&#10;output application/json&#10;&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]'/>
		<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]' doc:name="Set Payload" doc:id="6c43da17-fb55-4807-9d68-2e262587d8a1" />
	</flow>
</mule>